.infrInfo {
	display: flex;
	flex-direction: column;
	margin-right: 2vw;
}

.infr-head {
	display: flex;
	width: 100%;
	height: 15vh;
	border-bottom: 1px solid;
	justify-content: space-around;
	align-items: center;
}

.infr-body {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 85vh;
}

.infr-btns {
	width: 100%;
	height: 10%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.infr-grafico {
	width: 100%;
	height: 90%;
}

.infr-btns-appalto {
	width: 45%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#h-stato {
	text-shadow: 1px 1px #000000;
}
