.my-navbar {
	position: fixed;
	flex-grow: 15;
	max-width: 15vw;
	min-width: 150px;
	height: 100%;
	background-color: var(--first-dark-color);
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

/* elemento sidebar selezionato */
.side-navigation-panel .side-navigation-panel-select .side-navigation-panel-select-wrap .side-navigation-panel-select-option-selected {
	background-color: rgba(255, 255, 255, 0.5) !important;
}