.root-login {
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;
}

.form-signin {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: space-around;
	padding: 8vh;
	border-radius: 15px;
	border: 1px var(--second-dark-color) solid;
	box-shadow: 1px 1px 15px var(--highlight-color);
	background-color: var(--first-dark-color);
}

.form-signin:hover {
	box-shadow: 1px 1px 40px var(--highlight-color);
}

.form-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 2vh;
}

label {
	margin-right: 2vh;
}